.skills h3 {
  font-size: 24px;
  text-align: center;
}

.skills h4 {
  border-bottom: 2px solid var(--main-color);
  font-size: 16px;
  padding: 10px 0 2px 0;
  margin-bottom: 5px;
}

.skills section {
  display: flex;
}

.skills ul {
  list-style-type: none;
  margin-top: 5px;
  width: 50%;
}

.skills li {
  font-size: 14px;
  margin-bottom: 5px;
}

.skills li::before {
  color: var(--main-color);
  content: '• ';
  font-weight: 800;
}

.skills a {
  color: var(--white-color);
  text-decoration: none;
}

.skills a:hover {
  color: var(--main-color);
}
