.skills h3 {
  border-bottom: 2px solid var(--highlight-color);
  font-size: 16px;
  padding: 10px 0 2px 0;
  margin-bottom: 5px;
}

.skills section {
  display: flex;
}

.skills ul {
  list-style-type: none;
  margin-top: 5px;
  width: 100%;
}

.skills li {
  width: 50%;
  display: inline-flex;
  font-size: 14px;
  margin-bottom: 2px;
}

.skills li::before {
  color: var(--highlight-color);
  content: '• ';
  font-weight: 800;
}

.skills a {
  color: var(--white-color);
  text-decoration: none;
}

.skills a:hover {
  color: var(--highlight-color);
}
