.main {
  display: flex;
  /* height: 29.7cm; */
  /* margin: 0 auto; */
  /* width: 21cm; */
  /* padding: 0.5cm 0; */
}

.content {
  background-color: var(--primary-color);
  background-color: var(--white-color);
  flex: 10 0;
  padding: 20px;
}

.sidebar {
  background-color: var(--secondary-color);
  color: var(--white-color);
  padding: 20px;
  width: 185px;
}
