.main {
  display: flex;
  min-height: 29.7cm;
  min-width: 21cm;
}

.content {
  background-color: var(--primary-color);
  background-color: var(--white-color);
  flex: 10 0;
  padding: 20px;
}

.sidebar {
  background-color: var(--secondary-color);
  color: var(--white-color);
  padding: 20px;
  width: 185px;
}
