.main {
  box-shadow: 0 0 0.5cm var(--page-shadow-color);
  display: flex;
  height: 29.7cm;
  margin: 0.5cm auto;
  width: 21cm;
}

.content {
  background-color: var(--primary-color);
  flex: 10 0;
  padding: 20px;
}

.sidebar {
  background-color: var(--secondary-color);
  color: var(--white-color);
  padding: 20px;
  width: 180px;
}
