:root {
  --body-color: #ccc;
  --page-shadow-color: rgba(0, 0, 0, 0.5);
  --main-color: #d9c471;
  --black-color: #6a5e5e;
  --white-color: #fff;
  --secondary-color: #117b91;
}

body {
  background-color: var(--body-color);
  background-image: url('/bg.png');
  color: var(--black-color);
}

* {
  margin: 0;
  padding: 0;
}
