:root {
  --body-color: #ccc;
  --page-shadow-color: rgba(0, 0, 0, 0.5);
  --primary-color: #fffae6;
  --secondary-color: #117b91;
  --highlight-color: #b3e2a7;
  --black-color: #6a5e5e;
  --grey-color: #938989;
  --white-color: #fff;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--body-color);
  color: var(--black-color);
}

@media print {
  body,
  main {
    margin: 0 !important;
    padding: 0 !important;
  }
}
