.basics {
  margin-bottom: 15px;
}

.basics article {
  display: flex;
  margin-bottom: 5px;
}

.avatar {
  background-color: var(--white-color);
  border-radius: 60px;
  margin: 0 auto;
  width: 120px;
}

.basics h2 {
  margin: 5px 0 20px;
  text-align: center;
}

.basics a {
  color: var(--white-color);
  text-decoration: none;
}

.basics a:hover {
  color: var(--highlight-color);
  text-decoration: none;
}

.basics p {
  font-size: 15px;
  line-height: 20px;
}

.icon {
  border-radius: 15px;
  color: var(--white-color);
  height: 13px;
  padding: 3px 5px 0 0;
  width: 21px;
}
